
@import "tailwindcss";

:root {
  --background: #fff9f2;
  --foreground: #171717;
  --font-dosis: var(--font-dosis);
}

@layer components {
  .card-gradient {
    border-top-width: 2px;
    border-left-width: 2px;
    text-align: center;
    color: white;
    border-radius: 2.25rem;
    box-shadow: 9px 9px 15px 0px #d7bea1;
    padding-bottom: 4rem;
    padding-top: 1rem;

  }
  
  .card-gradient-green {
    background-image: linear-gradient(to bottom, #a6e054, #669623);
  }
  
  .card-gradient-purple {
    background-image: linear-gradient(to bottom, #c374ff, #8920da);
  }
  
  .card-gradient-orange {
    background-image: linear-gradient(to bottom, #ffb751, #f19310);
  }
  
  .card-gradient-red {
    background-image: linear-gradient(to bottom, #ff7474, #d63f3f);
  }

  .card-gradient-blue {
    background-image: linear-gradient(to bottom, #14ccff, #0080a3);
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dosis), Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  padding-bottom: 1rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.cardText {
  font-size: 1.125rem;
  text-align: left;
  font-weight: 500;
  padding: 1rem;
  line-height: 1.375;
}

.cardText > * + * {
  margin-top: 1.5rem;         /* space-y-8 (32px) */
}
